.detailContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 100px auto;
  gap: 0 30px;
}
.imgContainer {
  width: 50%;
}

.detailImg {
  width: 100%;
}
.productDesc {
  text-align: left;
}
.productTitle {
  color: #a8dadc;
}
.info {
  margin-top: 10px;
  color: #e63946;
}
.productPrice {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(170, 170, 170);
  color: #457b9d;
  margin: 10px 0;
  margin-bottom: 25px;
}
.btn {
  background-color: #e63946;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .detailContainer {
    display: block;
    padding: 10px;
  }
  .imgContainer {
    width: 80%;
  }
}
