@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f1faee;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 1rem 3rem;
}
h3 {
  padding: 0;
}
p {
  margin: 0;
  font-size: 14px;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  color: #457b9d;
  text-transform: capitalize;
  margin: 50px 0 50px 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  /* body {
    background-image: url("../public/Layer6(1).svg");
    color: white;
    background: black;
  } */
}
@media (max-width: 600px) {
  .header {
    text-align: center;
  }
}
