.nav {
  display: flex;
  justify-content: space-between;
  background-color: #1d3557;
  color: #fff;
  padding: 1rem 3rem;
}
.cart {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 8px;
}
.cart img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}
.cartNumber {
  position: absolute;
  border-radius: 100%;
  background-color: #e63946;
  font-size: 11px;
  padding: 1px 6px;
  top: -10px;
  right: -15px;
}
.cardsContainer {
  display: flex;
  gap: 25px 40px;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  width: 250px;
  height: auto;
  /* overflow: hidden; */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  /* padding: 1.5rem; */
}
.card:hover .cardImg {
  scale: 1.1;
}
.cardImgContainer {
  overflow: hidden;
  height: 160px;
}
.cardImg {
  padding: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.cardInfo {
  padding: 1.5rem;
}
.cardTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #457b9d;
}
.cardDesc {
  text-align: left;
  font-size: 12px;
  margin: 8px 0;
}
.cardPrice {
  color: #457b9d;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 10px;
}
.btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailsBtn {
  border: 1px solid #e63946;
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.detailsBtn:hover {
  background-color: #e63946;
  color: #fff;
}
.cartBtn {
  background-color: #e63946;
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
}
/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
